body {
    font-family: 'Arial', sans-serif;
    background-color: #d9e3fd;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #4482ec, #7ba0fe);
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.profile-img {
    border-radius: 70%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: text-shadow 0.3s ease; /* تأثير الانتقال للظل */
}

h2 {
    color: #3267f8;
    border-bottom: 2px solid #3267f8;
    padding-bottom: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    transition: text-shadow 0.3s ease; /* تأثير الانتقال للظل */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    transition: box-shadow 0.3s ease; /* تأثير الانتقال للصندوق */
}

section:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4); /* ظل أقوى عند التمرير */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #3267f8;
    text-decoration: none;
    transition: text-shadow 0.3s ease; /* تأثير الانتقال للرابط */
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #367df0;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer a {
    color: white;
}
